{% extends "template.html" %}
{% block body %}
<div style="position: relative; height:400px; width:400px">
  <canvas id="myChart" width="400px" height="400px"></canvas>
</div>
<script>
    var roast = {{roast | tojson }};
    const labels = roast['labels'];
    const temp = roast['temperature'];
    const power = roast['power'];
    const fan = roast['fan'];
    console.log(temp);
    var ctxt = document.getElementById('myChart').getContext('2d');
    const data = {
        labels: labels,
        datasets: [{
            yAxisID: 'A',
            label: 'Temperature',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: temp
        }, {
            yAxisID: 'B',
            label: 'Power',
            backgroundColor: 'rgb(99, 132, 255)',
            borderColor: 'rgb(99, 132, 255)',
            data: power
        }, {
            yAxisID: 'B',
            label: 'Fan',
            backgroundColor: 'rgb(132, 255, 99)',
            borderColor: 'rgb(132, 255, 99)',
            data: fan
        },
        ]
    };
    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                yAxes: [{id: "A", type: "linear", position: "left", ticks:{ min: 0, max: 480}}, {id: "B", type: "linear", position: "right", ticks:{ min: 0, max: 9}}]
            }
        }
    };
  var myChart = new Chart(
    ctxt,
    config
  );
</script>

{% endblock %}