<!doctype html>
    <title>Roastly</title>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{ url_for('static', filename='script.js') }}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <header>
        <nav>
            <a> Roastly </a>
            <a href="/">Home</a>
            <a href="/bean"><img width="25px" height="25px" src="{{url_for('static', filename='coffee-bag.png')}}"> Beans </a>
            <a href="/roast"><img width="25px" height="25px" src="{{url_for('static', filename='beans.png')}}"> Roasts </a>
            <a href="/settings"> Settings </a>
        </nav>
    </header>
    {% block body %} {% endblock %}
    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</html>

