<!doctype html>
    <title>Roastly</title>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{ url_for('static', filename='script.js') }}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <header>
        <h1> Roastly </h1>
        <h2> Fresh Roast Roast Logs </h2>
    </header>
    <div class='topnav'>
        <a href="/">Home</a>
        <a href="/bean">Beans</a>
        <a href="/roast">Roasts</a>
        <a href="/settings" style="float:right"> Settings </a>
    </div>
    <div class="row">
    <div class="column side"><br></div>
    <div class="column middle">
        <h1> {% block title %} {% endblock %} </h1>
        {% block body %} {% endblock %}
    </div>
    </div>
    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</html>

